html, body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  right: -250px;
  background-color: #f8f9fa;
  transition: 0.3s;
  padding-top: 60px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
}
.sidebar.open {
  right: 0;
}
.sidebar .close-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  cursor: pointer;
}
.sidebar .content {
  padding: 15px;
  text-align: center;
}
.sidebar .content img {
  border-radius: 50%;
  width: 100px;
  margin-bottom: 15px;
}
.sidebar .content p {
  margin: 5px 0;
}
.navbar-nav .dropdown-menu {
  right: 0;
  left: auto;
}


/*Nav Bar*/

.navbar {
  color: #fff;
  background: black;
}

.nav-link {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  border-right: 1px solid #fff; 
  padding-right: 10px; 
}

.nav-link:last-child{
  border-right: none;
}

#navbarDropdownMenuLink{
  border-right: none
}

.navbar-brand {
  color: rgb(255 255 255);
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
}

.teamsBg, .playersBg,.matchesBg, .bgL{
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-attachment: fixed;
}

/*Home*/

.container-fluid.home {
    height: 95vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #ffff;
    background: url('img/football.gif') no-repeat center center;
    background-size: cover; 
}

.text-box{
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.304);
}

img.iconset {
    width: 12.5rem;
    margin-bottom: 1.5rem;
}

.col-4.data {
    text-align: center;
    padding: 2rem;
    margin-top: 3.5rem;
}

.container-fluid.testimony {
    height: 60vh;
    background: #e2e2e2;
}

.row.facts {
    height: 100%;
}

.col-4.data a {
    text-decoration: none; 
    color: inherit;
}

.col-4.data a:hover, .col-4.data a:focus {
    opacity: 0.8;
}

.row.footer-content {
    justify-content: center;
    text-align: center;
    padding-top: 1.5rem;
}

/*Footer*/

.container-fluid.footer {
    height: 20vh;
    color: white;
    vertical-align: middle;
    background: linear-gradient(29deg, rgb(214, 211, 222) 0%, rgb(65, 174, 220) 60%, rgb(214, 211, 222) 100%);
}

p.feature-text {
    font-size: 1.5rem;
    font-family: 'Lato';
    font-weight: 600;
    padding: 2rem;
}

p.footer-text {
    font-size: 1.25rem;
}

i.fa {
    font-size: 1.25rem;
    color: rgb(0, 60, 255);
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

i.fab {
    font-size: 1.25rem;
    color: rgb(0, 60, 255);
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

#insta {
    color: rgb(255, 255, 255);
    background-color: rgba(255, 0, 149, 0.653);
}

#wa {
    color: rgb(60, 255, 0);
    background-color: rgb(255, 255, 255);
}

/*Player Details*/

#playersContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.player-card {
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    width: 280px;
    transition: transform 0.3s ease;
}

.player-card:hover {
    transform: translateY(-5px);
}

.player-card h2 {
    font-size: 24px;
    color: #0056b3;
    margin-top: 0;
}

.player-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.player-card, .player-detail-card {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.player-card:hover, .player-detail-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.player-detail-card img {
    width: 100px; 
    height: auto;
    margin: 10px;
}


.modal-backdrop.show {
  opacity: 0.85;
}

.modal-dialog {
  max-width: 800px; 
  margin: 30px auto;
}

.modal-content {
  background-color: #f8f9fa;
  border-radius: 8px; 
  border: 1px solid #dee2e6;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.modal-header {
  background-color: black;
  color: white;
  border-radius: 4px;
}

.modal-title {
  font-weight: bold;
  font-size: 1.5rem;
}

.modal-body {
  padding: 20px;
  font-size: 1.2rem; 
  color: #0056b3;
}

.modal-footer {
  padding: 12px 20px; 
  background-color: #f1f1f1;
  border-top: 1px solid #dee2e6; 
}

.modal-footer .btn {
  padding: 8px 24px; 
  font-size: 1.1rem; 
  border-radius: 5px; 
}

.modal-footer .btn-primary {
  background-color: #027cff;
  border-color: #0066d3;
}

.modal-footer .btn-secondary {
  background-color: #0088ff; 
  border-color: #1a79cb;
}


.modal-footer .btn-secondary:hover {
  background-color: #0000ff; 
  border-color: #064276;
}



/*Teams Details*/

.teams-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-card {
    background: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 20px;
    width: 280px;
    transition: transform 0.3s ease;
}

.team-card:hover {
    transform: translateY(-5px);
}

.team-card h2 {
    font-size: 24px;
    color: #0056b3;
    margin-top: 0;
}

.team-card p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

/* Login and signup page */

.bg{
    padding: 40px;
}

.container{
    position: relative;
    max-width: 850px;
    width: 100%;
    background: #ffffffaf;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    perspective: 2700px;
    border-radius: 10px;
  }
  .container .cover{
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
  }
  .container #flip:checked ~ .cover{
    transform: rotateY(-180deg);
  }
   .container .cover .front,
   .container .cover .back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .cover .back{
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .container .cover::before,
  .container .cover::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 60, 255, 0.551);
    opacity: 0.5;
    z-index: 12;
  }
  .container .cover::after{
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  .container .cover img{
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
  .container .cover .text{
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .container .forms{
    height: 100%;
    width: 100%;
    background: #fff;
  }
  .container .form-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .form-content .login-form,
  .form-content .signup-form{
    width: calc(100% / 2 - 25px);
  }
  .forms .form-content .title{
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
  }
  .forms .form-content .title:before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    background: rgb(0, 60, 255);
  }
  .forms .signup-form  .title:before{
    width: 20px;
  }
  .forms .form-content .input-boxes{
    margin-top: 30px;
  }
  .forms .form-content .input-box{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
  }
  .form-content .input-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 10px 10px 10px 40px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .form-content .input-box input:focus,
  .form-content .input-box input:valid{
    border-color: rgb(0, 60, 255);
  }
  .form-content .input-box i{
    position: absolute;
    color: rgb(0, 60, 255);
    font-size: 17px;
  }
  .forms .form-content .text{
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }
  .forms .form-content .text a{
    text-decoration: none;
  }
  .forms .form-content .text a:hover{
    text-decoration: underline;
  }
  .forms .form-content .button{
    color: #fff;
    margin-top: 40px;
  }
  .forms .form-content .button input{
    color: #fff;
    background: rgb(0, 60, 255);
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .forms .form-content .button input:hover{
    background: rgb(0, 60, 255);
  }
  .forms .form-content label{
    color: rgb(0, 60, 255);
    cursor: pointer;
  }
  .forms .form-content label:hover{
    text-decoration: underline;
  }
  .forms .form-content .login-text,
  .forms .form-content .sign-up-text{
    text-align: center;
    margin-top: 25px;
  }
  .container #flip{
    display: none;
  }

  #asi{
    padding-left: 42px;
  }

  #gender{
    margin-left: 40px;
  }

  
  
  /* Make circles that indicate the steps of the form: */
  .tab{
    display: none;
  }
  
  input.invalid {
    background-color: #ffdddd;
  }

  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #0040ffb9;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #02b0e4;
  }

.button{
  background-color: #0000ff;
  color: #ccc;
  height: 35px;
  width: 85px;
  border-radius: 5px;
  
}

/*Matches Details*/

.selectBar {
  width: 100%;
  background-color: #555;
  overflow: auto;
  border-radius: 5px;
}

.selectBar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 50%; 
  text-align: center; 
}

#upperSB a{
  width: 33.33%;
}

.selectBar a:hover {
  background-color: #000;
}

.selectBar a.active {
  background-color: #021bba;
  font-weight: bold;
}

.card {
  border-radius: 10px;
  transition: transform 0.2s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

.card-body {
  padding: 20px;
}

.card-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.25rem;
}

.text-muted {
  color: #6c757d !important;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.shadow-sm {
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}


/*Leader board*/

#leaderboard {
  width: 100%;
  position: relative;
}

.table-striped table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  color: #141a39;
  cursor: default;
  border-radius: 100px;
}

.table-striped thead th {
  background-color: #4040b0;
  color: white;
  border-bottom: 2px solid #5a5af0;
}

.table-striped thead th:first-child{
  border-top-left-radius: 10px;
}
.table-striped thead th:last-child {
  border-top-right-radius: 10px;  
}

.table-striped tr {
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  background-color: #bcc2c7; 
}


.row-wrapper {
  border-radius: 10px;
}

.table-striped tr:not(:first-child):hover {
  background-color: #fff;
  transform: scale(1.1);
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
  background-color: #0088ff;
}

.table-striped tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-striped tr:nth-child(1) {
  color: #fff;
}

.table-striped td {
  height: 5rem;
  font-family: "Rubik", sans-serif;
  font-size: 1.4rem;
  padding: 1rem 2rem;
  position: relative;
}

.ribbon {
  width: 50rem;
  height: 4.5rem;
  top: 8.5rem;
  background-color: #0000ff;
  position: absolute;
  left: 1.5rem;
  -webkit-box-shadow: 0px 15px 11px -6px #7a7a7d;
  box-shadow: 0px 15px 11px -6px #7a7a7d;
}

.ribbon::before {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.8rem;
  left: 0.35rem;
  transform: rotate(45deg);
  background-color: #5c5be5;
  position: absolute;
  z-index: -1;
}

.ribbon::after {
  content: "";
  height: 1.5rem;
  width: 1.5rem;
  bottom: -0.8rem;
  right: 0.35rem;
  transform: rotate(45deg);
  background-color: #5c5be5;
  position: absolute;
  z-index: -1;
}


#fix tr:nth-child(1) {
  color: #000000;
}